.jumbotron{
    display: flex;
    background: url('../assests/pexels-amina-filkins-5561178.jpg') center;
    background-size: cover;
    height: 94vh;

}


.titleText {
 display: flex;
    justify-content: center;
margin-left: 100px;
    /* padding: 0% 0% 10% 10%; */
    height: 105%;
    width: 20%;
    color:brown;
    font-size: 120px;
    font-family: fantasy;
   /* border: 2px solid blue; */
   opacity: 1;
    
}

/* .subtitle {
    
    color:blue;
    font-family: fantasy;
    margin-top: -10px;
    height: 60%;
    width: 100%;
    font-size: 20px;

} */